pandas
pyarrow
numpy
sphinx
numpy
sphinxcontrib-bibtex
sphinx-gallery
sphinx-prompt
sphinx-copybutton
pydata-sphinx-theme
scipy
ruff
isort
blackdoc
python-dotenv
matplotlib
polars
alive_progress
pandoc
nbsphinx